* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

body {
    font-family: var(--font-family);
    background: var(--bg-color);
    color: var(--text-color);
    transition:
        background var(--transition),
        color var(--transition);
    overflow-y: auto;
}

.text-glow {
    text-shadow: var(--text-glow);
}

/* Exemples d'utilisation ciblée */
h1,
h2,
h3 {
    text-shadow: var(--text-glow); /* Pour les titres seulement */
    color: var(--text-color);
}
p,
b,
pre {
    color: var(--text-color);
}

.dashboard {
    transition: all 0.3s ease;
}

.tool-container > div:not(:last-child) {
    margin-bottom: 1rem;
}

.modal-content,
.tool-container,
.result {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* ANIME BITE */

.calcul {
      display: inline-block;
      margin-bottom: 20px;
    }

    .ligne {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
    }

    .bit {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 0 2px;
      text-align: center;
      background-color: var(--cell-bg);
      color: var(--cell-txt);
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .bit.active {
      background-color: #bd3939;
    }

    .etiquette {
      margin-right: 10px;
      font-weight: bold;
      width: 30px;
      text-align: right;
    }

    hr {
      border: none;
      border-top: 2px solid #333;
      /* margin: 10px auto; */
      width: 350px;
    }