[Desktop Entry]
Name=NetCalc-rs
Comment=Calculateur d’adressage IP
Exec=netcalc-rs
Icon=netcalc-rs
Terminal=false
Type=Application
Categories=Utility;Network;
